<section id="skills" class="container rounded-4 mt-5 p-3">

  <article class="mb-5">

    <span class="text-white fw-bold fs-1 mt-5 ps-3">Skills</span>

    <p class="text-white fs-5 mt-3 ps-3">
      Aqui, você poderá conhecer as principais habilidades que desenvolvi ao longo da minha jornada como
      desenvolvedor.
      Abaixo apresento as ferramentas, frameworks e tecnologias que utilizo para criar projetos robustos e eficientes.
    </p>

    <div class="mt-5 d-flex flex-wrap gap-3 justify-content-center align-items-center">

      <div *ngFor="let skill of skills" class="d-flex flex-column align-items-center gap-2">
        <img width="75" [src]="skill.imageSource" alt="">
        <span class="text-white">{{ skill.texto }}</span>
      </div>

    </div>

  </article>

</section>