<div class="container text-center mt-4">
    <div class="btn botao-voltar-topo btn-primary back-to-top-btn-mobile " (click)="scrollToTop()"
      [ngClass]="{ 'esconder-botao-voltar-topo': esconderBotao }">
      Voltar ao topo
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="#fff"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-move-up">
        <path d="M8 6L12 2L16 6"></path>
        <path d="M12 2V22"></path>
      </svg>
    </div>
  </div>