<section id="banner" class="container rounded-4 mt-3 p-3">

    <div class="d-flex justify-content-between align-items-center">
  
      <div class="px-3">
        <div class="textContent fs-5">
          <p class="fs-2 text-white">Olá, eu sou Gilberto Junior</p>
          <span class="banner-text d-block fs-1 fw-bold lh-sm">Desenvolvedor</span>
          <span class="banner-text fs-1 fw-bold lh-sm">Fullstack</span>
        </div>
        <a class="btn btn-primary mt-3" href="#contato">Contate me</a>
        <div class="links mt-3 d-flex">
          <a href="https://github.com/gmo204" target="_blank">
            <img alt="Github logo" width="80%" src="githubLogo.png" />
          </a>
          <a href="https://www.linkedin.com/in/gilberto-mota-de-oliveira-junior/" target="_blank">
            <img alt="Linkedin logo" width="80%" src="linkedinLogo.png"></a>
        </div>
      </div>
  
      <div class="bg-foto d-none d-sm-none d-md-block"  >
        <img 
        src="Foto-flip.png" 
        width="80%" 
        alt="Foto Gilberto"
        >
      </div>
  
    </div>
  </section>