<section id="sobre" class="app-background-escuro-2 d-flex justify-content-center align-items-center">
    <div class="container">
        <div>
            <img class="img-fluid rounded-pill" src="/linkedin.jpg" alt="Foto Gilberto Mota">
        </div>

        <h2 class="text-renter mt-5 display-5 fw-bold">Um pouco sobre mim</h2>
        <div class="row flex-wrap mt-5">
            <div class="col-lg-8">
                <h3 class="fs-3">Meu nome é Gilberto Mota, sou um desenvolvedor Full-stack</h3>
            

            <p clas="fs-5">
                blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla
                <span class="appp-texto-rincipal fw-semibold"> Principal </span>
            </p>
            <p class="fs-5">
                blablabla blablabla blablabla blablabla blablabla
            </p>
        </div>
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Nome:</strong> Gilberto Mota de Oliveira Junior
                    </li>
                    <li class="list-group-item">
                        <strong>Email:</strong> <a href="mailto:gilbertojr204@gmail.com"> gilbertojr204&#64;gmail.com </a>
                    </li>
                    <li class="list-group-item">
                        <strong>Idade:</strong> 18 Anos
                    </li>
                    <li class="list-group-item">
                        <strong>De:</strong> Lages-SC
                    </li>
                  </ul>

                  <div class="d-flex justify-content-center align-items-center gap-3 mt-3">
                    <a 
                    rel="noopener"
                    target="_blank"
                    class="text-light" 
                    href="https://github.com/gmo204"
                    aria-label="Github"
                    class="text-light"
                    >
                        <i class="bi bi-github fs-1"></i> 
                    </a>
                    
                    <a
                    rel="noopener"
                    target="_blank"
                    href="https://www.linkedin.com/in/gilberto-mota-de-oliveira-junior/"
                    aria-label="Linkedin"
                    class="text-light"
                  >
                    <i class="bi bi-linkedin fs-1"></i>
                  </a>

                    <a 
                    href="https://api.whatsapp.com/send?phone=5549984178924"
                    rel="noopener"
                    target="_blank"
                    rel="noopener"
                    class="btn btn-lg app-background-principal btn-warning app-hover-secundario rounded-5 px-lg-5 fw-semibold" 
                    >
                    Contato via Whatsapp
                    </a>
                </div>
            </div>
        </div>
    </div>
  </section>