<section id="sobre" class="container rounded-4 mt-5 p-3">

    <article class="d-flex justify-content-between align-itens-center mb-2">
  
      <div class="d-flex flex-column ps-3 border-start border-white border-3">
        <p class="text-white fs-2">Sobre Mim</p>
        <span class="text-white fw-bolder fs-1 lh-sm">Sou um Desenvolvedor</span>
        <span class="text-white fw-bolder fs-1 lh-sm">Fullstack</span>
        <p class="text-white fs-5 mt-4">Olá, sou o Giiberto, um jovem de 18 anos apaixonado por tecnologia. 
          Com foco em programação cursando a faculdade de Sistemas de Informação na Universidade do Planalto Serrano (Uniplac) e
          aprimorando minhas habilidades em C#, .net Core, Asp.net MVC, HTML, CSS e JavaScript, além de frameworks
          modernos como Angular, busco integrar uma equipe de desenvolvimento
          onde possa aplicar minhas competências técnicas. Meu objetivo é criar interfaces intuitivas e experiências de
          usuário envolventes, alavancando boas práticas de design para desenvolver soluções eficientes e acessíveis.
          Estou sempre buscando aprender, evoluir e contribuir para projetos que desafiem minha capacidade.
        </p>
      </div>
  
      <img src="quote.png" width="40%" class="quote" alt="Quote">
  
    </article>
  
  </section>